body {
    background: rgb(210, 210, 210);
    margin: 0px;
    padding: 0px;
    font-family: Garamond;
}
#backgroundClock {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22em;
    opacity: 0.2;
}
#page {
    position: absolute;
    top: 110px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}
#head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    border-bottom: 3px solid;
}
#header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 110px;
    font-size: 8em;
    width: 550px;
}
#addNoteBtn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(285px);
}
.note {
    background: rgba(255, 255, 255,0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.noteLeft {
    width: 100%;
    font-size: 1.2em;
}
.description {
    cursor: default;
    min-height: 2em;
    display: flex;
    align-items: center;
    max-width: 85vw;
    font-size: 1.2em;
    white-space: normal;
}
.editDescription {
    display: flex;
    width: 100%;
    min-height: 3em;
}
.editDescription textarea {
    flex-grow:1;
    margin-right: 10px;
    resize: vertical;
    font-size: 1.2em;
}
.noteRight {
    margin-left: 40px;
    display: flex;
}
.timeDisplay {
    display:flex;
}
.countdownDisplay {
    display:flex;
    align-items:center;
}
.editTimeDisplay {
    display:flex;
}
.startStopBtn {
    height: 0.8em;
    margin: 0 20px;
    opacity: 0.8;
}
.resetCountdownBtn {
    font-size: 1.2em;
    cursor: default;
}
.time {
    margin: 0 10px;
    cursor: default;
    font-size: 1.2em;
}
.editBtn {
    margin: 0;
}
.deleteNote {
    margin-left: 40px;
    cursor: default;
}